{{#if this.site.activity_pub_enabled}}
  <LinkTo @route="preferences.activity-pub">
    {{d-icon "discourse-activity-pub"}}
    <span>{{i18n "user.discourse_activity_pub.title"}}</span>
  </LinkTo>
{{/if}}