@mixin ap-description-text {
  color: var(--primary-medium);
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: var(--font-down-1);
  line-height: var(--line-height-large);
}

div.activity-pub-status {
  padding: 2px 8px;
  border-radius: var(--d-border-radius);
  line-height: 0.9em;
  min-height: 23px;
  background-color: var(--primary-200);
  display: inline-flex;
  align-items: center;

  > .svg-icon {
    height: 1.2em;
    width: 1.2em;
    color: var(--danger) !important;
  }

  &.active > .svg-icon {
    color: var(--success) !important;
  }

  &.publishing-disabled > .svg-icon {
    color: var(--tertiary) !important;
  }

  .label {
    margin-left: 0.5em;
  }

  .clickable {
    cursor: pointer;
  }
}

section.activity-pub-actor-setting {
  margin-top: 1em;

  &:first-of-type {
    margin-top: 0;
  }

  input {
    margin-bottom: 0;
  }

  .activity-pub-actor-setting-description {
    @include ap-description-text;
  }

  .activity-pub-actor-setting-notice {
    margin-top: 4px;
    margin-bottom: 10px;
    flex: 1 1 100%;

    span {
      display: inline-flex;
      gap: 0.25em;
      align-items: center;
      font-size: var(--font-down-1);
      padding: 0.25em;
      background-color: var(--highlight-low);
    }
  }

  .activity-pub-handle {
    display: inline-flex;
    margin: 4px 0;
  }
}

.activity-pub-enabled .activity-pub-actor-setting-description {
  display: flex;
  flex-direction: column;
}

.activity-pub-site-setting {
  margin-bottom: 1em;

  span {
    @include ap-description-text;
  }
}

.activity-pub-site-setting-title {
  font-weight: bold;
  color: var(--primary-high);
  margin-bottom: 0.5em;
}

.activity-pub-site-setting-label {
  margin-bottom: 5px;

  a {
    color: unset;
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    background-color: var(--primary-low);
    padding: 0.25em 0.5em;
  }
}

#activity-pub-username {
  width: min(250px, 90%);
}

.activity-pub-handle {
  overflow: hidden;

  .activity-pub-handle-contents {
    display: flex;
    align-items: stretch;
    border-radius: var(--d-border-radius);
    border: 1px solid var(--primary-low);
    line-height: 32px;
    overflow: hidden;
  }

  .handle {
    padding: 0 0.65em;
    color: var(--primary-high);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.activity-pub-handle-description {
  @include ap-description-text;
}

.activity-pub-discovery-dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  z-index: 100;
  background-color: var(--secondary);
  box-shadow: var(--shadow-dropdown);
  border: 1px solid var(--primary-low);
  max-width: 90vw;
  box-sizing: border-box;

  span {
    white-space: normal;
  }
}

#reply-control .activity-pub-status {
  margin-left: 1em;
}

.post-info.activity-pub {
  display: flex;
  align-items: center;
  gap: 0.3em;
  cursor: pointer;

  .d-icon {
    color: var(--primary-medium);
  }

  &.published .d-icon-discourse-activity-pub,
  &.updated .d-icon-discourse-activity-pub {
    color: var(--success);
  }
  &.deleted .d-icon-discourse-activity-pub {
    color: var(--danger);
  }
  &.published-remote .d-icon-discourse-activity-pub {
    color: var(--tertiary);
  }

  .activity-pub-visibility .d-icon {
    font-size: 0.85em;
  }
}

.activity-pub-post-info-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  span,
  a {
    display: flex;
    align-items: center;
    gap: 1em;
    min-height: 35px;
  }

  button {
    height: 100%;
  }
}

.activity-pub-object-id {
  > span {
    white-space: nowrap;
    max-width: 90%;
    overflow: hidden;
  }

  .activity-pub-object-id-copy {
    position: relative;

    .activity-pub-object-id-copy-text {
      position: absolute;
      top: -25px;
      width: 90px;
      left: -30px;
    }
  }

  .activity-pub-object-id-copy.success {
    .d-icon,
    .activity-pub-object-id-copy-text {
      color: var(--success);
    }
  }
}

body.user-preferences-activity-pub-page {
  .form-vertical {
    width: 100%;
  }
}

.activity-pub-authorize-controls {
  display: flex;
  gap: 0.5em;
}

.activity-pub-authorize-verified-domain {
  display: flex;

  a {
    cursor: unset;
  }
}

.activity-pub-authorizations {
  margin-top: 1em;

  ul {
    list-style: none;
    margin: 0;

    li {
      margin: 1em 0;
    }
  }

  .activity-pub-authorization {
    display: inline-flex;
    align-items: center;
  }
}

.activity-pub-route-nav {
  display: none !important;

  &.visible {
    display: flex !important;
  }
}

.activity-pub-banner {
  width: 100%;
  background: var(--primary-very-low);
  padding: 0.5em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  container-type: inline-size;

  .activity-pub-banner-side {
    display: flex;
    gap: 0.5em;
  }

  .fk-d-tooltip__trigger {
    margin-left: 0.5em;
  }
}

.activity-pub-banner-text {
  .desktop {
    display: block;
  }
  .responsive {
    display: none;
  }
}

@container (max-width: 47em) {
  .activity-pub-banner-text {
    .desktop {
      display: none;
    }
    .responsive {
      display: block;
    }
  }
}

.activity-pub-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-pub-actor {
  display: flex;
  justify-content: flex-start;

  .activity-pub-actor-content {
    margin-left: 1em;
    display: flex;
    flex-flow: column;
  }
}

.activity-pub-follow-table {
  &.followers {
    grid-template-columns: minmax(13em, 3fr) repeat(2, 110px);
  }
  &.follows {
    grid-template-columns: minmax(13em, 3fr) repeat(3, 110px);
  }
}

@container (max-width: 47em) {
  .activity-pub-follow-table-user,
  .activity-pub-follow-table-followed-at {
    display: none;
  }
  .activity-pub-follow-table-actions {
    width: 100%;
    padding: 0.5em 0.25em 1em;
    justify-content: start;
    grid-column-start: 1;
    grid-column-end: -1;

    .activity-pub-actor-unfollow-btn {
      width: 100%;
    }
  }
}

.activity-pub-follow-table-actor {
  justify-content: flex-start;
}

.activity-pub-follow-controls {
  .activity-pub-handle-label {
    margin-top: 1em;
  }
  .activity-pub-handle {
    display: inline-flex;
  }
}

.activity-pub-follow-domain-controls,
.activity-pub-actor-follow-find {
  display: flex;
}

.activity-pub-follow-domain-footer,
.activity-pub-actor-follow-find-footer {
  @include ap-description-text;
  min-height: 18px;

  &.error {
    color: var(--danger);
  }
}

.activity-pub-actor-follow-find {
  input[type="text"] {
    width: 500px;
    max-width: 100vw;
    margin-bottom: 0;
  }
}

.activity-pub-actor-follow-actor-container {
  min-height: 80px;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: var(--primary-very-low);

  &.no-actor {
    color: var(--primary-medium);
    font-size: var(--font-down-1);
    justify-content: center;
  }
}

.activity-pub-actor-follow-actor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media all and (max-width: 400px) {
    flex-flow: wrap;
    gap: 1em;

    .activity-pub-follow-actor-btn {
      width: 100%;
    }
  }
}

.admin-plugins.activity-pub {
  .admin-container > .admin-controls nav {
    background-color: var(--primary-very-low);

    &::before,
    &::after {
      content: unset;
    }
    .nav-pills > li.activity-pub-add-actor {
      margin-left: auto;
    }
  }
}

.activity-pub-actor-table {
  grid-template-columns: minmax(13em, 3fr) minmax(13em, 3fr) repeat(1, 200px);
}

.activity-pub-actor-table-actor {
  justify-content: flex-start;
}

.activity-pub-actor-table-actions,
.activity-pub-actor-table-model {
  justify-content: flex-end;

  .header-contents {
    text-align: right;
  }
}

.activity-pub-actor-title {
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

.activity-pub-actor-header {
  display: flex;
  align-items: center;
  gap: 1em;

  .activity-pub-actor-model,
  .activity-pub-status {
    min-height: 34px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .activity-pub-actor-model {
    border: 1px solid var(--primary-medium);
    font-size: var(--font-up-1);
    padding: 0 0.5em;
  }

  .activity-pub-status {
    padding: 0 0.7em;
  }

  .activity-pub-actor-enabled-toggle {
    margin-left: auto;

    .d-toggle-switch--label {
      margin: 0;
      order: 1;
    }
  }
}

.activity-pub-actor-save-response {
  &.success {
    color: var(--success);
  }
  &.failed {
    color: var(--danger);
  }
}

.activity-pub-enable-actor {
  gap: 0.5em;

  input {
    margin: 0;
  }
}

.activity-pub-new-actor-model {
  display: flex;
  align-items: center;
  gap: 1em;
}

.activity-pub-actor-subtitle {
  margin-top: 1em;
}

.activity-pub-actor-form-container {
  margin-top: 1em;
  display: flex;
  flex-flow: wrap;
}

.activity-pub-actor-form,
.activity-pub-actor-form-extra {
  width: 50%;
  min-width: 400px;
}

.activity-pub-actor-gutter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}
