.activity-pub-category-settings-title {
  display: flex;
  align-items: center;
  gap: 1em;

  > * {
    margin-bottom: 0.5rem;
  }
}

.activity-pub-status {
  padding: 2px 8px;
  border-radius: var(--d-border-radius);
  font-size: 0.9em;
  line-height: 0.9em;
  min-height: 23px;
  background-color: var(--primary-200);
  display: inline-flex;
  align-items: center;

  .svg-icon {
    height: 1.5em;
    width: 1.5em;
    color: var(--danger) !important;
  }

  &.active .svg-icon {
    color: var(--success) !important;
  }

  .label {
    margin-left: 0.5em;
  }
}

.activity-pub-setting {
  margin-top: 4px;

  input {
    margin-bottom: 0;
  }

  .activity-pub-setting-description {
    color: var(--primary-medium);
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: var(--font-down-1);
    line-height: var(--line-height-large);
  }

  .activity-pub-setting-notice {
    margin-top: 4px;
    margin-bottom: 10px;
    flex: 1 1 100%;

    span {
      display: inline-flex;
      gap: 0.25em;
      align-items: center;
      font-size: var(--font-down-1);
      padding: 0.25em;
      background-color: var(--highlight-low);
    }
  }

  .activity-pub-handle {
    margin: 4px 0;
  }
}

#activity-pub-username {
  width: min(250px, 90%);
}

.activity-pub-handle {
  display: inline-flex;
  align-items: stretch;

  .handle {
    border-radius: var(--d-border-radius);
    background-color: var(--primary-200);
    padding: 0 0.65em;
    line-height: 35px;
  }

  button {
    border: unset;
    max-height: 35px;
  }
}

.activity-pub-discovery-dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  z-index: 100;
  background-color: var(--secondary);
  box-shadow: var(--shadow-dropdown);
  border: 1px solid var(--primary-low);
  max-width: 90vw;
  box-sizing: border-box;

  span {
    white-space: normal;
  }
}

#reply-control .activity-pub-status {
  margin-left: 1em;
}

.post-info.activity-pub {
  display: flex;
  align-items: center;
  gap: 0.3em;

  .d-icon {
    color: var(--primary-medium);
  }

  &.published .d-icon-discourse-activity-pub,
  &.updated .d-icon-discourse-activity-pub {
    color: var(--success);
  }
  &.deleted .d-icon-discourse-activity-pub {
    color: var(--danger);
  }

  .activity-pub-visibility .d-icon {
    font-size: 0.85em;
  }
}

.activity-pub-visibility-dropdown,
.activity-pub-post-object-type-dropdown {
  .select-kit-header {
    padding: 4px 6px;
  }

  &.select-kit.single-select.dropdown-select-box .select-kit-row .texts .name {
    font-weight: 400;
  }
}
