.activity-pub-category-settings-title {
  display: flex;
  align-items: center;
  gap: 1em;

  > * {
    margin-bottom: 0.5rem;
  }
}

.activity-pub-status {
  padding: 2px 8px;
  border-radius: var(--d-border-radius);
  font-size: 0.9em;
  line-height: 0.9em;
  background-color: var(--primary-200);
  display: inline-flex;
  align-items: center;

  .svg-icon {
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.5em;
    color: var(--danger) !important;
  }

  &.active .svg-icon {
    color: var(--success) !important;
  }
}

.activity-pub-username,
.activity-pub-handle-field {
  input {
    margin-bottom: 0;
  }

  .instructions {
    color: var(--primary-medium);
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: var(--font-down-1);
    line-height: var(--line-height-large);
  }

  .activity-pub-handle {
    margin: 4px 0;
  }
}

.activity-pub-handle {
  border-radius: var(--d-border-radius);
  background-color: var(--primary-200);
  border-radius: var(--d-border-radius);
  padding: 2px 8px;
  display: inline-block;
}

#reply-control .activity-pub-status {
  margin-left: 1em;
}
