@import "common/components/buttons";

@mixin description-text {
  color: var(--primary-medium);
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: var(--font-down-1);
  line-height: var(--line-height-large);
}

.activity-pub-category-settings-title {
  display: flex;
  align-items: center;
  gap: 1em;

  > * {
    margin-bottom: 0.5rem;
  }
}

div.activity-pub-status {
  padding: 2px 8px;
  border-radius: var(--d-border-radius);
  line-height: 0.9em;
  min-height: 23px;
  background-color: var(--primary-200);
  display: inline-flex;
  align-items: center;

  > .svg-icon {
    height: 1.2em;
    width: 1.2em;
    color: var(--danger);
  }

  &.active > .svg-icon {
    color: var(--success);
  }

  .label {
    margin-left: 0.5em;
  }

  .clickable {
    cursor: pointer;
  }
}

.activity-pub-setting {
  margin-top: 4px;

  input {
    margin-bottom: 0;
  }

  .activity-pub-setting-description {
    @include description-text;
  }

  .activity-pub-setting-notice {
    margin-top: 4px;
    margin-bottom: 10px;
    flex: 1 1 100%;

    span {
      display: inline-flex;
      gap: 0.25em;
      align-items: center;
      font-size: var(--font-down-1);
      padding: 0.25em;
      background-color: var(--highlight-low);
    }
  }

  .activity-pub-handle {
    display: inline-flex;
    margin: 4px 0;
  }
}

#activity-pub-username {
  width: min(250px, 90%);
}

.activity-pub-handle {
  overflow: hidden;

  .activity-pub-handle-contents {
    display: flex;
    align-items: stretch;
    border-radius: var(--d-border-radius);
    border: 1px solid var(--primary-low);
    line-height: 32px;
    overflow: hidden;
  }

  .handle {
    padding: 0 0.65em;
    color: var(--primary-high);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  button,
  a {
    @extend .btn-flat;
  }
}

.activity-pub-handle-description {
  @include description-text;
}

.activity-pub-discovery-dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  z-index: 100;
  background-color: var(--secondary);
  box-shadow: var(--shadow-dropdown);
  border: 1px solid var(--primary-low);
  max-width: 90vw;
  box-sizing: border-box;

  span {
    white-space: normal;
  }
}

#reply-control .activity-pub-status {
  margin-left: 1em;

  > .svg-icon {
    color: var(--danger) !important;
  }

  &.active > .svg-icon {
    color: var(--success) !important;
  }
}

.post-info.activity-pub {
  display: flex;
  align-items: center;
  gap: 0.3em;
  cursor: pointer;

  .d-icon {
    color: var(--primary-medium);
  }

  &.published .d-icon-discourse-activity-pub,
  &.updated .d-icon-discourse-activity-pub {
    color: var(--success);
  }
  &.deleted .d-icon-discourse-activity-pub {
    color: var(--danger);
  }
  &.published-remote .d-icon-discourse-activity-pub {
    color: var(--tertiary);
  }

  .activity-pub-visibility .d-icon {
    font-size: 0.85em;
  }
}

.activity-pub-post-info-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  span,
  a {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}

body.user-preferences-activity-pub-page {
  .form-vertical {
    width: 100%;
  }
}

.activity-pub-authorize-controls {
  display: flex;
  gap: 0.5em;
}

.activity-pub-authorize-verified-domain {
  display: flex;

  a {
    cursor: unset;
  }
}

.activity-pub-authorizations {
  margin-top: 1em;

  ul {
    list-style: none;
    margin: 0;

    li {
      margin: 1em 0;
    }
  }

  .activity-pub-authorization {
    display: inline-flex;
    align-items: center;
  }
}

.activity-pub-category-route-nav {
  display: none !important;

  &.visible {
    display: flex !important;
  }
}

.activity-pub-category-banner {
  width: 100%;
  background: var(--primary-very-low);
  padding: 0.5em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .activity-pub-category-banner-side {
    display: flex;
    gap: 0.5em;
  }

  .fk-d-tooltip__trigger {
    margin-left: 0.5em;
  }
}

.activity-pub-category-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-pub-actor {
  display: flex;
  justify-content: flex-start;

  .activity-pub-actor-content {
    margin-left: 1em;
    display: flex;
    flex-flow: column;
  }
}

.activity-pub-followers {
  grid-template-columns: minmax(13em, 3fr) repeat(2, 110px);
}

.activity-pub-follower-actor {
  justify-content: flex-start;
}

@media all and (max-width: 1000px) {
  .activity-pub-category-banner .activity-pub-handle,
  .activity-pub-follower-user,
  .activity-pub-followed-at {
    display: none;
  }
  .directory-table__cell:first-child {
    padding: unset;
  }
}

.activity-pub-follow-controls {
  .activity-pub-handle-label {
    margin-top: 1em;
  }
  .activity-pub-handle {
    display: inline-flex;
  }
}

.activity-pub-follow-domain-controls,
.activity-pub-create-follow-find {
  display: flex;
  align-items: center;

  input {
    margin: 0;
  }
}

.activity-pub-follow-domain-footer,
.activity-pub-create-follow-find-footer {
  @include description-text;
  min-height: 18px;

  &.error {
    color: var(--danger);
  }
}

.activity-pub-create-follow-find {
  input {
    width: 500px;
  }
}

.activity-pub-create-follow-actor-container {
  min-height: 80px;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: var(--primary-very-low);

  &.no-actor {
    color: var(--primary-medium);
    font-size: var(--font-down-1);
    justify-content: center;
  }
}

.activity-pub-create-follow-actor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
