<div class="activity-pub-authorization">
  <ActivityPubActor @actor={{@authorization.actor}} />
  <DButton
    @icon="times"
    @action={{action "remove"}}
    @label="user.discourse_activity_pub.remove_authorization_button.label"
    @title="user.discourse_activity_pub.remove_authorization_button.title"
    id="user_activity_pub_authorize_remove_authorization"
    class="activity-pub-authorize-remove-authorization"
  />
</div>