<div class="activity-pub-follow-btn">
  <DButton
    @icon="discourse-activity-pub"
    @action={{action "showModal"}}
    @label="discourse_activity_pub.follow.label"
    @ariaLabel="discourse_activity_pub.follow.label"
  />
</div>