<div class="activity-pub-discovery">
  <DButton
    @action={{action "toggleDropdown"}}
    @class="no-text"
    @icon="discourse-activity-pub"
  />
  {{#if showDropdown}}
    <div class="activity-pub-discovery-dropdown">
      <span>{{i18n "discourse_activity_pub.discovery.description" username=this.args.category.activity_pub_username}}</span>
      <ActivityPubHandle @actor={{this.args.category}} />
    </div>
  {{/if}}
</div>