<div class="activity-pub-statistics">
  <span
    class="activity-pub-visibility"
    title={{i18n
      (concat
        "discourse_activity_pub.visibility.description."
        @category.custom_fields.activity_pub_default_visibility
      )
      object_type=@category.activity_pub_post_object_type
    }}
  >
    {{i18n
      (concat
        "discourse_activity_pub.visibility.label."
        @category.activity_pub_default_visibility
      )
    }}
  </span>
  <span
    class="activity-pub-publication-type"
    title={{i18n
      (concat
        "discourse_activity_pub.publication_type.description."
        @category.activity_pub_publication_type
      )
    }}
  >
    {{i18n
      (concat
        "discourse_activity_pub.publication_type.label."
        @category.activity_pub_publication_type
      )
    }}
  </span>
</div>