<div class="activity-pub-status {{this.statusClass}}" title={{this.translatedTitle}}>
  {{d-icon "discourse-activity-pub"}}
  <span>{{i18n (concat "discourse_activity_pub.status.label." this.labelKey)}}</span>
</div>