<div class="activity-pub-category-banner">
  {{#if @category}}
    <ActivityPubStatus @model={{@category}} @modelType="category" />
    {{#unless this.site.mobileView}}
      <ActivityPubStatistics @category={{@category}} />
    {{/unless}}
    <ActivityPubFollowBtn @category={{@category}} />
  {{/if}}
</div>